*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* navbar css starts */
.container-fluid 
{ display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .navbar-brand .text-warning,
 .navbar-brand span{
  font-weight: 700;
  text-shadow: 2px 2px 1px blue;
 }
 .nav-item {
    font-size: 20px;
 }
 .navbar-nav .nav-item .nav-link{
    color: white;
 }
 .navbar-nav .nav-item .nav-link:hover{
    color: yellow;
 }
 .nav-item a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: yellow;
    transition: width .3s;
  }
  
  .nav-item a:hover::after {
    width: 100%;
  }

  .social-links a {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
    justify-content: center;
    margin-right: 10px;
    display: inline-flex;
    transition: width 2s,height 2s,background-color 2s,rotate 1s;
}

.social-links a:hover {
    color: yellow;
    rotate: 360deg;
}

.navbar button::before{
    content: "";
    width: 0px;
    height: 100%;
    position: absolute;
    background-color: yellow;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.4s ease-in-out;
  }

.navbar button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
  }
 .navbar button:hover {
    color: black;
    border-radius: 20px;
    border: 1px solid white;
  }
  .navbar button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    border-radius: 20px;
  }

 button span {
    z-index: 1;
  }
  /* navbar css ends */
 


/* landing page starts */
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
}
.home {
  background-image: url(assets/home.avif);
}
.home .content {
  text-align: center;
  padding-top: 200px;
}
.home .content h5 {
  font-size: 38px;
  color: white;
  font-weight: 900;
}
.home .content h1 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0px 2px 2px black;
  margin-top: 5px;
}
.changecontent::after{
  content: '';
  color: #ffa500;
  text-shadow: 0px 1px 1px white;
  animation: changetxt 10s infinite linear;
}

@keyframes changetxt {
  0%{content: "France";}
  10%{content: "Spain";}
  20%{content: "United States";}
  30%{content: "China";}
  40%{content: "India";}
  50%{content: "Pakistan";}
  60%{content: "Italy";}
  70%{content: "Mexico";}
  80%{content: "Turkey";}
  90%{content: "Germany";}
  10%{content: "United Kingdom";}

  
}



.glow {
    color: #fff;
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #bcc907, 02px 0 20px #f6ff00, 0 0 30px #e5ff00, 0 0 40px #00e613, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px #ff4da6, 0 0 50px #d30606, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .content button {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid blue;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  .content button:hover{
    color: red;
    background-color: yellow;
    border: 2px solid red;
  }
  
  .slider-wrapper button,
  #about button,
  #contact button{
    color: white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.9px;
    line-height: 1.5em;
    margin-top: 49px;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid blue;
    background-color: blue;
  
  }
  
  .slider-wrapper button svg,
  #about button svg,
  #contact button svg{
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  
  .slider-wrapper button:hover svg,
  #about button:hover svg,
  #contact button:hover svg{
    margin-left: 59px;
  }
  
.slider-wrapper button:hover,
#about button:hover,
#contact button:hover{
    color: red;
    background-color: yellow;
    outline: none;
    border: 2px solid red;
  }


  .slider-wrapper a,
  #about a{
    text-decoration: none;
  }
  .carousel-control-prev, .carousel-control-next {
    border-radius: 50%;
    height: 40px;
    width: auto;
    background-color: yellow;
    border: 2px solid red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    margin-left: 20px;
  }
  .carousel-control-next{
    margin-right: 20px;
  }
/* landing page ends */


/* About page starts */
#about{
    height: auto;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .about-text {
    color: dark;
    text-align: justify;
    padding-top: 20px;
    letter-spacing: 1px;
  }
  #about h2{
    font-weight: 700;
  }
/* About page ends */

/* services starts */
#services .services-header h2{
  font-weight: 700;
}
#services .card-body .hide{
  display: block;
  text-align: justify;
}
#services .services-header .hide{
  display: none;
}
#services .card-title,
#services .card-text{
  font-weight: 700;
}
#services .card-body {
  text-align: justify;
}

/* services ends */

/* recommend starts */
.recommend {
  padding: 2px;
}
.recommend-header h2{
  font-weight: 700;
}

.recommend-header .hover-text{
  color: blue;
}
.recommend .row .col-md-3{
  overflow:auto;
}
.recommend-header .hide-text{
  display: none;
}
.content_img{
  position: relative;
  width: auto;
  height: auto;
  transition:all 0.5s ease-in-out;
  padding: 2px;
}

.content_img div{
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  background: black;
  color: white;
  margin-bottom: none;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}


.content_img:hover{
  cursor: pointer;
}
.content_img img{
  transition:all 0.5s ease-in-out;
}
.content_img:hover div{
  width: 100%;
  height: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.content_img>div h3 {
  margin: 0 0 5px;
  color: yellow;
  text-shadow: 1px 1px 1px red;
  font-size: 20px;
  font-weight: 700;
}
.content_img:hover img {
  transform: scale(1.03);
}
.content_img>div p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 2px 1px black;
}
/* recommend ends */


/* testimonial starts */
#testimonial{
    background-color: #24262b;
    text-align: center;
    
}
#testimonial h3 a{
    color: yellow;
}
#testimonial h2{
    font-weight: 700;
}
#testimonial-header p{
    opacity: 0.8;
}
.testimonial-description{
    font-style: italic;
}

/* testimonial ends */





/* contact page starts */
.contact-block {
    position: relative;
    background-color: rgb(23, 23, 173);
  }
.contact-block h2{
    font-weight: 700;
}
  .contact-block .row {
    margin: 0 0 25px;
  }
  
  .contact-block iframe {
    border: 0;
    width: 100%;
    height: 420px;
  }
  
  .form-control {
    margin: 10px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }


  .contact-form .text-area {
    height: 200px;
    text-align: left !important; 
    vertical-align: top !important;
  }

/* contact page ends */

/* mailchimp style starts */
#mc_embed_signup
{background:#fff;
  clear:left;
   font:14px Helvetica,Arial,sans-serif;
    width: 100%;
    color: blue;
  }
/* mailchimp style starts */

/* footer page starts */


body{
	background: #eef8ff;
}

footer{
	width: 100%;
	position: relative;
	bottom: 0;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 40px 0 30px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	font-size: 13px;
	line-height: 20px;
}

.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.col{
	flex-basis: 25%;
	padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
	flex-basis: 15%;
}

.logo{
	width: 110px;
}

.col h3{
	width: fit-content;
	margin-bottom: 40px !important;
	position: relative !important;
  font-size: 15px;
}
.help-line{
	padding-top: 20px;
}
.help-line p{
	padding-top: -30px;
}

.email-id{
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}

ul li{
	list-style: none;
	margin-bottom: 12px;
}

ul li a{
	text-decoration: none;
	color: #fff;
}


.social-icons .fab{
	width: 40px;
	height: border;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	background: #fff;
	margin-right: 21px;
	margin-bottom: 5px;
	cursor: pointer;
}

hr{
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
}

.copyright{
	text-align: center;
}

.pb-5{
	text-align: center;
}

.underline{
	width: 100%;
	height:5px;
	background: #767676;
	border-radius: 3px;
	position: absolute;
	top: 30px;
	left: 0;
	overflow: hidden;
}

.underline span{
	width: 15px;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
}

.col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
	transition: all 0.3s ease;
}
@keyframes moving{
	0%{
		left: -20px;
	}
	100%{
		left: 100%;
	}
}


@media (max-width: 700px){
	footer{
		bottom: unset;
	}
	.col{
		flex-basis: 100%;
	}

.col:nth-child(2), .col:nth-child(3){
		flex-basis: 100%;
	}

}

/* footer page ends */


/* .view-images */

/* .view-images */

 @media (max-width: 480px) {
    .navbar-nav .nav-item{
    align-items: center;
    justify-content: center;
    display: flex; 
}
.nav-item{
    font-size: 14px;
}
 button {
    height: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
 }
 .social-links a {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.slider-wrapper h5{
    font-size: 15px;
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin: auto;
    padding: auto;
  }
.about-text{
    letter-spacing: 0;
    font-size: 14px;
    padding-top: none;
    margin: none;
    width: 100%;
}
#contact button{
    background-color: white;
    color: black;
}
.footer-col {
    width: 100%;
}
.recommend-header .hover-text{
 display: none;
}
.recommend-header .hide-text{
  display: flex;
  color: blue;
  text-align: center;
}
#services .card-title{
  font-size: 13px;
  font-weight: 700;
}
#services .card-text{
  font-size: 13px;
  font-weight: 700;
}
#services .card-body .hide{
  display: none;
}
#services .services-header .hide{
  display: block;
}
.home .content {
  text-align: center;
  padding-top: 80%;
}
.home .content h5 {
  font-size: 25px;
  color: white;
  font-weight: 900;
}
.home .content h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 2px 2px black;
  margin-top: none;
}
.content button {
 margin-left: 25%;
}
#mc_embed_signup {
  width: 10px;
}
.logo{
	width: 110px;
  align-items: center;
  margin-right: 50%;
}
footer{
	width: 100%;
	position: relative;
	bottom: 0;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 40px 0 30px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 13px;
	line-height: 20px;
}

}
  